*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    height: 10vh;
}
main{
    height: 90vh;
    background-color: rgb(68, 132, 151);
    
    padding: 20px;

}
form{
    background-color: rgb(68, 150, 175);

    width: 500px;
    /* box-shadow: 1px 1px 5px 3px rgb(177, 171, 171); */
    border-radius: 2px;
    padding: 5vw 5vw;
   

 
}
form:focus-within{
     box-shadow: 1px 1px 5px 3px rgb(177, 171, 171);
}
form:hover{
     box-shadow: 1px 1px 5px 3px rgb(177, 171, 171);
}
label{
    font-weight: 500;
}
#signup{
    text-decoration: none;
    color: blue;
    opacity: 0.6;
    white-space: nowrap;
    
}

#signup:hover{
    opacity: 1;
}